.root {
    width: 100%;
    text-align: center;
    padding: 24px 0 36px 0;
}
.root_shimmer {
    width: 100%;
    background: #f7f8f9;
    padding: 24px 0 36px 0;
    height: 187px;
}
.title {
    font-size: 30px;
    margin-bottom: 36px;
    font-weight: 400;
    line-height: 34px;
    font-family: 'Sofia Pro';
}
.title strong {
    font-family: 'Sofia Pro';
    font-weight: 700;
}
.buttonsContainer {
    display: flex;
    gap: 36px;
    justify-content: center;
}
.button {
    padding: 10px 20px;
    border-radius: 40px;
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
@media screen and (max-width: 768px) {
    .root {
        padding: 30px 0;
    }
    .root_shimmer {
        padding: 30px 0;
        height: 276px;
    }
    .buttonsContainer {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .title {
        font-size: 20px;
        margin-bottom: 16px;
    }
    .button {
        min-width: 200px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }
}
