.sliderContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: relative;
}
.root_shimmer {
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 4rem;
    height: 505px;
    background: #f7f8f9;
}
:root {
    --multirow-thumb-color: #666464;
    --multirow-track-color: #bdb9b9;
}
.slide {
    padding: 10px 18px;
}
.slideList {
    margin: 1rem auto;
    max-width: 968px;
}
.text {
    font-size: 12px;
}
.headline {
    font-size: 16px;
}
.img_container {
    position: relative;
    height: 192px;
    width: 215px;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.title {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    font-family: 'Sofia Pro';
}
.title strong {
    font-weight: 700;
}
.horizontalSlider {
    overflow: hidden;
    max-height: 600px;
    position: relative;
    max-width: 1014px;
    margin: 1rem auto 0 auto;
    width: 100%;
}
.slider {
    overflow-x: scroll;
    inset: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    scroll-behavior: smooth;
    scrollbar-color: var(--multirow-thumb-color);
    scrollbar-track-color: var(--multirow-track-color);
}
.slidesContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    /* height: fit-content; */
    max-height: 440px;
    margin-bottom: 2rem;
    row-gap: 16px;
}
.slider::-webkit-scrollbar {
    height: 4px;
    cursor: pointer;
}
.slider::-webkit-scrollbar-track {
    background-color: var(--multirow-track-color);
    border-radius: 4px;
}
.slider::-webkit-scrollbar-thumb {
    background-color: var(--multirow-thumb-color);
    border-radius: 4px;
}
.prevArrow {
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 5;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
.nextArrow {
    position: absolute;
    right: 10%;
    top: 50%;
    z-index: 5;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}
@media screen and (max-width: 768px) {
    .root_shimmer {
        height: 316px;
    }
    .sliderContainer {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .ios.sliderContainer {
        margin-bottom: 1rem;
    }
    .ios .slidesContainer {
        margin-bottom: 1.5rem;
    }
    .slide {
        padding: 0px 12px;
    }
    .slideList {
        max-width: 100%;
    }
    .title {
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .img_container {
        position: relative;
        width: 116px;
        height: 106px;
    }
    .slidesContainer {
        max-height: 244px;
        row-gap: 16px;
    }
    .prevArrow,
    .nextArrow {
        display: none !important;
    }
    .horizontalSlider {
        padding-left: 20px;
    }
    .slide:nth-child(-n + 3) {
        padding-left: 0;
    }
}
