.root {
    width: 100%;
    min-height: 450px;
    max-width: 1440px;
    display: block;
    margin: 0 auto;
}
.root_shimmer {
    width: 100%;
    min-height: 450px;
    max-width: 1440px;
    margin-bottom: 2rem;
    background: #f7f8f9;
}
.root img {
    width: 100%;
    max-height: 450px;
    align-self: stretch;
}
.textBlock {
    padding: 16px 24px;
    width: fit-content;
    margin: 0 auto;
    font-size: 24px;
    line-height: 32px;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Sofia Pro';
    font-weight: 400;
    min-width: 300px;
    min-height: 74px;
    align-content: center;
}
.textBlock strong {
    font-family: 'Sofia Pro';
    font-weight: 700;
}
.image {
    object-fit: cover;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 34px;
}

.h1Title {
    position: relative;
    color: #2f6b7a;
    font-weight: bold;
}
.h2Title {
    position: relative;
    color: #2f6b7a;
    font-weight: 200;
}
@media screen and (max-width: 768px) {
    .root {
        min-height: auto;
        margin-bottom: 0;
    }
    .root_shimmer {
        min-height: 423px;
    }
    .textBlock {
        padding: 8px 16px;
        font-size: 12px;
        line-height: 16px;
        min-width: 160px;
        min-height: 40px;
    }
    .titleWrapper {
        top: 0px;
        font-size: 15px;
        line-height: 20px;
    }
    .h1Title {
        position: relative;
        font-size: 15px;
        color: #2f6b7a;
        font-weight: bold;
    }
    .h2Title {
        position: relative;
        font-size: 15px;
        color: #2f6b7a;
        font-weight: 200;
        margin-bottom: 1rem;
    }
}
