.root {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 36px;
    padding: 36px 0;
}
.root_shimmer {
    padding: 36px 0;
    width: 100%;
    height: 118px;
    background: #f7f8f9;
}
.iconContainer {
    display: flex;
    gap: 16px;
    font-family: 'Sofia Pro';
}
.mainText {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 24px;
}
.secondaryText {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 22px;
}
.imgContainer {
    display: flex;
    align-items: flex-end;
}
@media screen and (max-width: 768px) {
    .iconContainer {
        flex-direction: column;
        align-items: center;
    }
    .root {
        padding: 24px 0;
        gap: 16px;
        justify-content: space-around;
    }
    .mainText,
    .secondaryText {
        font-size: 12px;
        line-height: 16px;
    }
    .root_shimmer {
        padding: 24px 0;
        height: 140px;
    }
}
