.infoSectionWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 36px 50px 24px;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
.root_shimmer {
    padding: 36px 50px 24px;
    width: 100%;
    height: 233px;
    background: #f7f8f9;
}
.titleSection {
    position: relative;
    width: 100%;
    max-width: 1084px;
}

.titleLine {
    position: absolute;
    background-color: #bc7d6f;
    width: 80%;
    height: 1px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title {
    color: #bc7d6f;
    text-align: center;
    font-family: 'Sofia Pro';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 113.333% */
}
.title strong {
    font-weight: 700;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    width: fit-content;
    padding: 0 8px;
    background-color: white;
    margin: 0 auto;
}
.description {
    color: #404143;
    text-align: center;
    font-family: 'Sofia Pro';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.description strong {
    font-weight: 700;
}
.link {
    color: #6cb2bb;
    text-transform: lowercase;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Sofia Pro';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
@media (max-width: 768px) {
    .root_shimmer {
        height: 186px;
    }
    .icon {
        width: 36px;
    }
    .title {
        font-size: 20px;
    }
    .titleLine {
        width: 100%;
    }
    .description {
        font-size: 14px;
        line-height: 25px;
    }
}
